// Theme colors
$background: #ffffff;
$accent1: #d8c3a5;
$accent2: #8e8d8a;
$contrast1: #e98074;
$contrast2: #e85a4f;

// Variables
$props-width: 300px;
$props-height: 600px;
$minimap-width: 200px;
$minimap-height: 600px;

$font-family: Roboto, sans-serif;
